<template>
    <div>
        <v-row>
            <v-col>
                <v-text-field
                    v-model="editModel.first_name"
                    :label="$t('field.name')"
                    :error-messages="errors.first_name"
                ></v-text-field>
            </v-col>
            <v-col>
                <v-text-field
                    v-model="editModel.last_name"
                    :label="$t('field.surname')"
                    :error-messages="errors.last_name"
                ></v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-text-field
                    v-model="editModel.email"
                    :label="$t('field.email')"
                    :error-messages="errors.email"
                ></v-text-field>
            </v-col>
            <v-col>
                <langs v-model="editModel.lang"></langs>
            </v-col>
        </v-row>

        <v-row>
            <v-col>
                <v-text-field
                    type="password"
                    v-model="editModel.password"
                    :label="$t('field.password')"
                    :error-messages="errors.password"
                ></v-text-field>
            </v-col>
            <v-col>
                <v-text-field
                    type="password"
                    v-model="editModel.password_confirmation"
                    :label="$t('field.password_confirmation')"
                    :error-messages="errors.password_confirmation"
                ></v-text-field>
            </v-col>
        </v-row>
        <v-btn class="save_model" color="primary" @click="setEditItem()" :disabled="loading">{{ $t('save') }}</v-btn>
    </div>
</template>

<script>
    import {edit} from "../mixins/crud";
    import Langs from "../components/Langs";

    export default {
        name: "Account",
        components: {Langs},
        mixins: [edit],
        data() {
            return {

            }
        },
        methods:{
            setEditItem(model) {
                if (this.loading) return false;
                this.loading = true;
                this.errors = {};
                axios.put('/admin/account', this.editModel)
                    .then((response) => {

                        if (response.data.id) {
                            this.$notify({message: this.$t('saved'), color: 'success'});
                        }
                        axios.get('/admin/data')
                            .then((response) => {
                                this.$vuetify.lang.locales[this.$vuetify.lang.current] = response.data.lang;
                                delete response.data.lang
                                this.$store.commit('set', response.data);
                            })
                    })
                    .catch((error) => {
                        this.validatorErrors(error);
                    })
                    .finally(() => {
                        this.loading = false;
                    });
            }
        },
        created() {
            this.editItem(this.$store.getters.user)
        }
    }
</script>

<style scoped>

</style>
