<template>
    <div>
        <v-row class="align-center">
            <v-col cols="auto">
                <v-btn color="primary" to="/posts/create">{{ $t('create') }}</v-btn>
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="auto">
                <category-autocomplete
                    :label="$t('instance.category')"
                    v-model="filter.category_id"
                ></category-autocomplete>
            </v-col>
            <v-col cols="auto">
                <v-text-field
                    :label="$t('search')"
                    v-model="filter.s"
                ></v-text-field>
            </v-col>
        </v-row>

        <data-table :headers="headers" :data="dataItems" v-model="pagination" :query="isQuery" @getItems="getItems">
            <template v-slot="{ items }">
                <template v-if="items" v-for="item in items">
                    <tr :class="{'grey--text': item.is_deleted}">
                        <td>
                            <div class="d-flex align-center justify-space-between">
                                <div>{{ item.id }}</div>
                                <div>
                                    <img v-if="item.image_url" :src="item.image_url" width="30">
                                </div>
                                <div>
                                    <i v-if="item.is_publish" class="far fa-eye success--text float-right"></i>
                                </div>
                            </div>
                        </td>
                        <td>{{ item.title }}</td>
                        <td>
                            <template v-if="item.category">
                                <router-link :to="'/categories/' + item.category.id">{{ item.category.title }}</router-link>
                            </template>
                        </td>
                        <td>
                            <div class="text-right" v-text="item.created_at"></div>
                        </td>
                        <td class="text-right">
                            <v-btn v-if="item.url" small icon :href="item.url" target="_blank">
                                <v-icon small :title="$t('open')">far fa-eye</v-icon>
                            </v-btn>
                            <template v-if="$hasPermission('pages.update')">
                                <v-btn small icon>
                                    <v-icon small @click="editItem(item)" :title="$t('edit')" class="">far fa-edit</v-icon>
                                </v-btn>
                            </template>
                            <template v-if="$hasPermission('pages.delete')">
                                <v-btn v-if="item.is_deleted" small icon>
                                    <v-icon small @click="setRestoreItem(item)" :title="$t('restore')">far fa-trash-restore</v-icon>
                                </v-btn>
                                <v-btn small icon>
                                    <v-icon small @click="getDeleteItem(item)" :title="$t('delete')">far fa-trash</v-icon>
                                </v-btn>
                            </template>
                        </td>
                    </tr>
                </template>
            </template>
            <template v-slot:footer>
                <v-btn color="primary" to="/posts/create">{{ $t('create') }}</v-btn>
            </template>
        </data-table>
        <delete-confirm v-model="hasDeleteModel" @deleteConfirm="setDeleteItem"></delete-confirm>
    </div>
</template>

<script>
    import {create, del, edit, pagination} from "../mixins/crud";
    import CategoryAutocomplete from "../../autocomlete/CategoryAutocomplete";

    export default {
        name: "Posts",
        components: {CategoryAutocomplete},
        mixins: [pagination, edit, create, del],
        data() {
            return {
                route: '/admin/posts',
                filter:{
                    s: '',
                    category_id: null
                },
                headers: [
                    { text: 'ID', align: 'left', value: 'id', width: 150},
                    { text: this.$t('field.title'), value: 'title', align: 'left' },
                    { text: this.$t('field.category'), value: 'category', align: 'left' },
                    { text: this.$t('field.created_at'), value: 'created_at', align: 'right' },
                    {  width: 170, align: 'right'}
                ],
            }
        },
        methods: {
            editItem(item){
                this.$router.push({name: 'post', params: {id: item.id}})
            }
        }
    }
</script>

<style scoped>

</style>
