<template>
    <div>
        <div class="upload-thumb">
            <div
                style="width: 100%; height: 100%;"
            >
                <v-row>
                    <template v-for="(item, i) in files">
                        <v-col
                            cols="6"
                            sm="4"
                            md="3"
                            lg="2"
                        >
                            <item-image v-model="files[i]">
                                <v-btn
                                    fab dark x-small
                                    color="error"
                                    title="Удалить"
                                    class="float-right mr-1 mt-1"
                                    @click="remove(item)"
                                >
                                    <v-icon small>fa-trash-alt</v-icon>
                                </v-btn>
                            </item-image>
                        </v-col>
                    </template>
                </v-row>
                <div>
                    <v-btn color="primary" @click="dialog = true">Загрузить изображения</v-btn>
                </div>
            </div>
        </div>
        <v-dialog v-model="dialog" width="800">
            <v-card>
                <v-card-text>
                    <images v-model="files" multiple></images>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>

</template>

<script>
    import Images from '../admin/pages/Images';
    import ItemImage from "../admin/components/ItemImage";

    export default {
        name: "UploadImages",
        props: ['value'],
        components: {ItemImage, Images},
        data(){
            return {
                dialog: false,
                files: [],
                fileIds: this.value,
                selectItems: null
            }
        },
        watch: {
            value(value){
                this.fileIds = value
            },
            files(value){
                if(value){
                    this.fileIds = _.map(value, 'id')
                }else{
                    this.fileIds = []
                }
            },
            fileIds(value){
                this.$emit('input', value)
            },
        },
        methods: {
            remove(item){

            }
        },
        created() {
            this.fileIds = this.value
            axios.get('/admin/images', {params: {in: this.value}})
                .then((response) => {
                    if(_.isObject(response.data)){
                        this.files = response.data.data
                    }
                })

        }
    }
</script>

<style lang="scss" scoped>
    .upload-thumb{
        position: relative;
        min-height: 300px;
        background: #f1f1f1;
        &--image{
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
        }
        &--preview{
            position: absolute;
            top: 40%;
            width: 100%;
            text-align: center;
        }
    }
</style>
