<template>
    <div>
        <div class="upload-thumb" @click="dialog = true">
            <div
                style="width: 100%; height: 100%;"
            >
                <div v-if="file" class="upload-thumb--image" :style="{'background-image': 'url(' + file.path + ')'}"></div>
                <span v-else class="body-1 upload-thumb--preview">Загрузить изображение</span>
            </div>
        </div>
        <v-dialog v-model="dialog" width="800">
            <v-card>
                <v-card-text>
                    <images v-model="selectItem"></images>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>

</template>

<script>
    import Images from '../admin/pages/Images';

    export default {
        name: "UploadImage",
        props: ['value', 'image'],
        components: {Images},
        data(){
            return {
                dialog: false,
                file: this.image,
                fileId: this.value,
                selectItem: null
            }
        },
        watch: {
            value(value){
                this.fileId = value
            },
            file(value){
                if(value){
                    this.fileId = value.id
                }else{
                    this.fileId = null
                }
                this.dialog = false
            },
            fileId(value){
                this.$emit('input', value)
            },
            image(value) {
                this.file = value
            },
            selectItem(value){
                this.file = value
            }
        },
        methods: {

        },
        created() {
            this.fileId = this.value
            this.file = this.image
        }
    }
</script>

<style lang="scss" scoped>
    .upload-thumb{
        position: relative;
        height: 300px;
        background: #f1f1f1;
        &--image{
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
        }
        &--preview{
            position: absolute;
            top: 40%;
            width: 100%;
            text-align: center;
        }
    }
</style>
