<template>
    <div>
        <draggable v-model="menu" handle=".handle" group="people" @start="drag=true" @end="drag=false">
            <template v-for="(item, i) in menu">
                <v-row class="align-center">
                    <v-col cols="auto">
                        <v-icon class="handle">far fa-ellipsis-v</v-icon>
                    </v-col>
                    <v-col>
                        <v-text-field
                            v-model="menu[i].name"
                            :label="$t('title')"
                        ></v-text-field>
                    </v-col>
                    <v-col>
                        <v-select
                            v-model="menu[i].type"
                            :label="$t('typeLink')"
                            :items="types"
                        ></v-select>
                    </v-col>
                    <v-col>
                        <template v-if="menu[i].type === 'page'">
                            <page-autocomplete
                                v-model="menu[i].id" :label="$t('inctance.page')"
                            ></page-autocomplete>
                        </template>
                        <template v-else-if="menu[i].type === 'category'">
                            <category-autocomplete
                                v-model="menu[i].id" :label="$t('inctance.category')"
                            ></category-autocomplete>
                        </template>
                        <template v-else>
                            <v-text-field
                                v-model="menu[i].href"
                                :label="$t('link')"
                            ></v-text-field>
                        </template>
                    </v-col>
                    <v-col>
                        <v-btn small icon @click="addMenu(i)">
                            <v-icon small>fa fa-plus</v-icon>
                        </v-btn>
                        <v-btn small icon @click="removeMenu(i)">
                            <v-icon small>fa fa-minus</v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
            </template>
        </draggable>
    </div>
</template>

<script>

import PageAutocomplete from "../../../autocomlete/PageAutocomplete";
import CategoryAutocomplete from "../../../autocomlete/CategoryAutocomplete";

export default {
    name: "EditMenu",
    components: {CategoryAutocomplete, PageAutocomplete},
    props: ['value', 'errors'],
    data() {
        return {
            menu: this.value,
            types: [
                {text: this.$t('instance.page'), value: 'page'},
                {text: this.$t('instance.category'), value: 'category'},
                {text: this.$t('instance.link'), value: 'link'}
            ]
        }
    },
    watch: {
        menu(value) {
            this.pushMenu('main_menu')
            this.$emit('input', value)
        },
        value(value) {
            this.menu = value;
        },
    },
    methods: {
        pushMenu(){
            if(!this.menu){ this.menu = [] }
            if(this.menu.length === 0){
                this.addMenu()
            }
        },
        addMenu(i){
            if(!_.isInteger(i)) i = this.menu.length
            this.menu.splice(++i, 0, {
                name: '',
                type: 'page',
                id: null,
                href: ''
            })
        },
        removeMenu(i){
            this.menu.splice(i, 1)
        }
    },
    created(){
        this.pushMenu()
    }
}
</script>

<style scoped>

</style>
