<template>
    <v-card-actions v-if="value">
        <slot name="before"></slot>
        <slot></slot>
        <v-btn v-if="isSaving" class="save_model" color="primary" @click="$emit('save')" :disabled="!!loading || disabledSave">{{ $t('save') }}</v-btn>
        <template v-if="value.is_deleted">
            <v-btn v-if="isHardDeleted" color="error" @click="$emit('hard-delete')" :disabled="!!loading">{{ $t('force_delete') }}</v-btn>
            <v-btn v-if="isRestored" color="success" @click="$emit('restore')" :disabled="!!loading">{{ $t('restore') }}</v-btn>
        </template>
        <v-btn v-else-if="value.id && isDeleted" color="error" @click="$emit('delete')" :disabled="!!loading">{{ $t('delete') }}:</v-btn>
        <v-btn class="cancel_save_model" @click="$emit('close')" :disabled="!!loading">{{ $t('cancel') }}</v-btn>
        <slot name="after"></slot>
    </v-card-actions>
</template>

<script>
    export default {
        name: "ModelEditActions",
        props: ['value', 'loading', 'disabledSave'],
        data(){
            return {
                isSaving: false,
                isDeleted: false,
                isHardDeleted: false,
                isRestored: false,
                isIntegrate: false
            }
        },
        created(){
            this.isSaving = _.has(this.$listeners, 'save')
            this.isDeleted = _.has(this.$listeners, 'delete')
            this.isHardDeleted = _.has(this.$listeners, 'hardDelete')
            this.isRestored = _.has(this.$listeners, 'restore')
            this.isIntegrate = _.has(this.$listeners, 'integrate')
        }
    }
</script>

<style scoped>

</style>
