<template>
    <v-card-title class="primary">
        <v-btn  style="margin-left: -12px; margin-right: 12px" icon dark @click="$emit('close')">
            <v-icon>close</v-icon>
        </v-btn>
        <span class="white--text">
            <slot></slot>
        </span>
    </v-card-title>
</template>

<script>
    export default {
        name: "ModelEditTitle",
        props: ['value']
    }
</script>

<style scoped>

</style>
