<template>
    <div>
        <template v-if="$hasPermission(permission + '.update')">
            <v-btn v-if="isEdit" icon>
                <v-icon @click="$emit('edit')" :title="$t('edit')">edit</v-icon>
            </v-btn>
        </template>
        <template v-if="$hasPermission(permission + '.delete')">
            <template v-if="model.is_deleted">
                <v-btn v-if="isHardDeleted" icon>
                    <v-icon @click="$emit('hard-delete')" :title="$t('force_delete')">delete</v-icon>
                </v-btn>
                <v-btn v-if="isRestored" icon>
                    <v-icon @click="$emit('restore')" :title="$t('delete')">restore</v-icon>
                </v-btn>
            </template>
            <v-btn v-else-if="isDeleted" icon>
                <v-icon @click="$emit('delete')" :title="$t('delete')">delete</v-icon>
            </v-btn>
        </template>
    </div>
</template>

<script>
    export default {
        name: "ModelActions",
        props: ['permission', 'model'],
        data(){
            return {
                isShow: false,
                isEdit: false,
                isDeleted: false,
                isHardDeleted: false,
                isRestored: false,
                isIntegrate: false
            }
        },
        created(){
            this.isShow = _.has(this.$listeners, 'show')
            this.isEdit = _.has(this.$listeners, 'edit')
            this.isDeleted = _.has(this.$listeners, 'delete')
            this.isHardDeleted = _.has(this.$listeners, 'hardDelete')
            this.isRestored = _.has(this.$listeners, 'restore')
            this.isIntegrate = _.has(this.$listeners, 'integrate')
        }

    }
</script>

<style scoped>

</style>
