<template>
    <div>
        <div class="grey lighten-3">
            <v-img :src="model.path_thumb" contain max-height="400" ></v-img>
        </div>
        <v-divider class="my-4"></v-divider>
        <v-simple-table>
            <template v-slot:default>
                    <tr>
                        <td>{{ $t('field.width') }}: {{ model.width ? model.width + 'px': '' }}</td>
                        <td>{{ $t('field.height') }}: {{ model.height ? model.height + 'px': '' }}</td>
                        <td>{{ $t('field.size') }}: {{ model.size + 'Kb' }}</td>
                    </tr>
            </template>
        </v-simple-table>
        <div>
            <v-text-field
                v-model="model.alt"
                :label="$t('field.description')"
                :error-messages="errors.alt"
            ></v-text-field>
        </div>
    </div>
</template>

<script>
export default {
    name: "EditImage",
    props: ['value', 'errors'],
    data() {
        return {
            model: this.value
        }
    },
    watch: {
        model(value) {
            this.$emit('input', value)
        },
        value(value) {
            this.model = value;
        },
    },
}
</script>

<style scoped>

</style>
