<template>
    <div>
        <v-row>
            <v-col cols="9">
                <v-text-field
                    v-model="editModel.slug"
                    :label="$t('field.slug')"
                    :error-messages="errors.slug"
                ></v-text-field>
                <template v-if="editModel.url">
                    <div class="mb-4">
                        <a :href="editModel.url" target="_blank">{{ editModel.url }}</a>
                    </div>
                </template>
                <v-divider class="my-4"></v-divider>
                <v-text-field
                    v-model="editModel.title"
                    :label="$t('field.title')"
                    :error-messages="errors['langs.'+ iLang + '.title']"
                ></v-text-field>
                <v-textarea
                    v-model="editModel.description"
                    :label="$t('field.description')"
                    :error-messages="errors['langs.'+ iLang + '.description']"
                ></v-textarea>
                <content-editor v-model="editModel.content" :model="editModel"></content-editor>
                <component
                    v-if="hasTemplate"
                    :is="template"
                    :lang="editModel.lang"
                    v-model="editModel"
                    :errors="errors"
                ></component>
                <component
                    v-if="hasTemplateTemplate"
                    :is="templateTemplate"
                    :lang="editModel.lang"
                    v-model="editModel"
                    :errors="errors"
                ></component>
            </v-col>
            <v-col cols="3">
                <upload-image class="mb-2" v-model="editModel.image_id" :image="editModel.image" ></upload-image>
                <div class="mt-4 d-flex">
                    <langs v-model="editModel.lang" :errors="errors" :langs="editModel.langs"></langs>
                </div>
                <div v-if="$store.getters.pageTemplates && $store.getters.pageTemplates.length">
                    <v-select
                        v-model="editModel.template"
                        :label="$t('field.template')"
                        :items="$store.getters.pageTemplates"
                        :error-messages="errors.template"
                    ></v-select>
                </div>
                <component
                    v-if="hasTemplateSidebar"
                    :is="templateSidebar"
                    :lang="editModel.lang"
                    v-model="editModel"
                    :errors="errors"
                ></component>
                <component
                    v-if="hasTemplateTemplateSidebar"
                    :is="templateTemplateSidebar"
                    :lang="editModel.lang"
                    v-model="editModel"
                    :errors="errors"
                ></component>
                <div v-if="editModel.id">
                    <span>{{ $t('field.created_at') }}:</span>
                    <span>{{ editModel.created_at }}</span>
                </div>
                <div v-if="editModel.id" class="mb-2">
                    <span>{{ $t('field.updated_at') }}:</span>
                    <span>{{ editModel.updated_at }}</span>
                </div>
                <template v-if="$route.name === 'page'">
                    <v-btn color="primary" @click="setEditItem()">{{ $t('save') }}</v-btn>
                    <v-btn color="error" @click="getDeleteItem(editModel)">{{ $t('delete') }}</v-btn>
                </template>
                <template v-if="$route.name === 'page-create'">
                    <v-btn color="primary" @click="create()">{{ $t('save') }}</v-btn>
                </template>

            </v-col>
        </v-row>
        <delete-confirm v-model="hasDeleteModel" @deleteConfirm="setDeleteItem"></delete-confirm>
    </div>
</template>

<script>
    import {crudDefault, edit, create, del, langs} from "../mixins/crud";
    import ContentEditor from "../components/tinymce/ContentEditor";
    import DeleteConfirm from "../components/DeleteConfirm";
    import UploadImage from "../../image/UploadImage";
    import DateTime from "../components/DateTime";
    import Langs from "../components/Langs";
    import {page} from "../mixins/editComponents";

    export default {
        name: "EditPage",
        components: {DateTime, UploadImage, DeleteConfirm, ContentEditor, Langs},
        mixins: [crudDefault, edit, create, del, langs, page],
        data() {
            return {
                afterCreateModel: true,
                afterEditModel: true,
                route: '/admin/pages',
                loader: false,
                editModel: {},
            }
        },

        methods:{
            create(){
                this.createModel = this.editModel;
                this.setCreateItem()
            },
            afterCreate(data){
                if(data.id){
                    this.$router.push({name: 'page', params: {id: data.id}})
                }
            }
        },
        created() {
            if(this.$route.name === 'page'){
                axios.get('/admin/pages/' + this.$route.params.id + '/edit')
                    .then((response) => {
                        this.editModel = response.data;
                        this.setRouteItem(this.editModel)
                    });
            }else{
                axios.get('/admin/pages/make')
                    .then((response) => {
                        this.editModel = response.data;
                    });
            }
        }
    }
</script>

<style scoped>

</style>
