<template>
    <div>

    </div>
</template>

<script>
export default {
    name: "PageEdit",
    props: ['value', 'errors'],
    data(){
        return {
            editModel: this.value
        }
    },
    watch: {
        editModel(value){
            this.$emit('input', value)
        },
        value(value){
            this.model = value;
        },
    },
}
</script>

<style scoped>

</style>
