<template>
    <div>
        <v-text-field
            v-model="editModel.settings.price"
            label="Цена"
            :error-messages="errors['settings.price']"
        ></v-text-field>
        <v-text-field
            v-model="editModel.settings.weight"
            label="Вес"
            :error-messages="errors['settings.weight']"
        ></v-text-field>
        <v-select
            v-model="editModel.settings.category"
            label="Категория меню"
            :error-messages="errors['settings.category']"
        ></v-select>
    </div>
</template>

<script>
export default {
    name: "PostProductsSidebarEdit",
    props: ['value', 'errors', 'lang'],
    data() {
        return {
            editModel: this.value
        }
    },
    watch: {
        editModel(value) {
            this.$emit('input', value)
        },
        value(value) {
            this.editModel = value;
        },
    },
}
</script>

<style scoped>

</style>
