<template>
    <div>
        <v-tabs v-model="tab">
            <v-tab>Основные</v-tab>
            <v-tab>Меню</v-tab>
            <v-tab>Главная страница</v-tab>
            <v-spacer></v-spacer>
            <v-col cols="auto">
                <langs v-model="thisLang"></langs>
            </v-col>
        </v-tabs>
        <v-tabs-items v-model="tab">
            <v-tab-item>
                <v-row>
                    <v-col>
                        <upload-images v-model="editModel.front_photo_gallery"></upload-images>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-text-field
                            v-model="editModel.description"
                            label="Описание"
                            :error-messages="errors.description"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-text-field
                            v-model="editModel.address"
                            label="Адрес"
                            :error-messages="errors.address"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-text-field
                            v-model="editModel.email"
                            label="E-mail"
                            :error-messages="errors.email"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-text-field
                            v-model="editModel.phone"
                            label="Телефон"
                            :error-messages="errors.phone"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-text-field
                            v-model="editModel.vk"
                            label="Вконтакте"
                            :error-messages="errors.vk"
                        ></v-text-field>
                    </v-col>
                    <v-col>
                        <v-text-field
                            v-model="editModel.instagram"
                            label="Instagram"
                            :error-messages="errors.instagram"
                        ></v-text-field>
                    </v-col>
                    <v-col>
                        <v-text-field
                            v-model="editModel.facebook"
                            label="Facebook"
                            :error-messages="errors.facebook"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-textarea
                            v-model="editModel.scripts"
                            label="JavaScript"
                            placeholder="Поля для JavaScript"
                            :error-messages="errors.scripts"
                        ></v-textarea>
                    </v-col>
                </v-row>
            </v-tab-item>
            <v-tab-item>
                <div class="title">Главное меню</div>
                <edit-menu v-model="editModel.main_menu" :errors="errors"></edit-menu>
                <v-divider class="my-3"></v-divider>
            </v-tab-item>
            <v-tab-item>
                <v-row>
                    <post-multiple-autocomplete
                        v-model="editModel.front_products_items"
                        label="Избранные товары"
                    ></post-multiple-autocomplete>
                </v-row>
                <template v-for="(text, key) in frontSettings">
                    <v-row>
                        <v-col>
                            <v-text-field
                                v-model="editModel[key]"
                                :label="text"
                                :error-messages="errors[key]"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </template>
            </v-tab-item>
        </v-tabs-items>
    </div>
</template>

<script>
import Vue from 'vue';
import EditMenu from "../../../pkengine/pk/resources/js/admin/components/edit/EditMenu";
import Langs from "../../../pkengine/pk/resources/js/admin/components/Langs";
import {langSettings} from "../../../pkengine/pk/resources/js/admin/mixins/crud";
import PostMultipleAutocomplete from "../../../pkengine/pk/resources/js/autocomlete/PostMultipleAutocomplete";
import UploadImages from "../../../pkengine/pk/resources/js/image/UploadImages";

export default {
    name: "SettingsPage",
    props: ['value', 'errors', 'lang'],
    mixins: [langSettings],
    components: {UploadImages, PostMultipleAutocomplete, EditMenu, Langs},
    data(){
        return {
            tab:0,
            editModel: this.value,
            thisLang: this.lang,
            frontSettings: {
                'front_main_title': 'Заголовок первого экрана',
                'front_main_description': 'Сниппет первого экрана',
                'front_main_subdescription2': 'Второй сниппет первого экрана',
                'front_main_button': 'Текст кнопки первого экрана',
                'front_about_title': 'Блок "О нас" заголовок',
                'front_about_description': 'Блок "О нас" описание',
                'front_about_content': 'Блок "О нас" текст',
                'front_photo_title': 'Блок "Галерея" заголовок',
                'front_products_title': 'Блок "Товары" заголовок',
                'front_products_button': 'Блок "Товары" текст кнопки',
                'front_reserve_title': 'Блок "Резервация" заголовок',
                'front_reserve_button': 'Блок "Резервация" текст кнопки'
            }
        }
    },
    watch: {
        editModel(value){
            this.$emit('input', value)
        },
        value(value){
            this.editModel = value
        },

        thisLang(value){
            this.$emit('update:lang', value)
        },
        lang(value){
            this.thisLang = value
        },

    },
    methods:{

    }
}
</script>

<style scoped>

</style>
