<template>
    <v-data-table
        v-if="isLoad"
        :headers="headers"
        :items="data"
        class="data-table"
        :page="page"
        :class="{'is-query': !isQuery}"
        :items-per-page="perPage"
        :server-items-length="total"
        :loading="!isQuery"
        @update:sort-by="(value) => {sortBy = value}"
        @update:sort-desc="(value) => {sortDesc = value}"
        hide-default-footer
        :disable-sort="disableSort"
        fixed-header
    >
        <v-progress-linear v-slot:progress color="blue" indeterminate></v-progress-linear>
        <template v-slot:body="{ items }">
            <tbody>
                <template v-if="items">
                    <slot :items="items"></slot>
                </template>
            </tbody>
        </template>
        <template v-if="!thisWithout.footer" v-slot:footer="{}">
            <v-row>
                <v-col>
                    <slot name="footer"></slot>
                </v-col>
                <v-col v-if="total">
                    <v-pagination
                            v-if="!thisWithout.pagination"
                            class="data-table-pagination"
                            v-model="page"
                            :length="pages"
                            :total-visible="7"
                    ></v-pagination>
                </v-col>
                <v-col v-if="total" cols="auto" class="d-flex align-center justify-end">
                    <template v-if="!thisWithout.perPage" >
                        <div class="d-flex align-center justify-end mr-4">
                            <span class="mr-2">{{ $t('dataFooter.itemsAll') }}:</span>
                            <span>{{ total }}</span>
                        </div>
                        <div class="d-flex align-center justify-end mr-4">
                            <span class="mr-2">{{ $t('dataFooter.page') }}:</span>
                            <v-text-field
                                    class="mt-0 pt-0"
                                    :value="page"
                                    type="number"
                                    hide-details
                                    :style="{'max-width': '50px'}"
                                    @change="(value) => {page = value}"
                            ></v-text-field>
                        </div>
                        <div class="d-flex align-center justify-end">
                            <span class="mr-2">{{ $t('dataFooter.strings') }}:</span>
                            <v-select
                                    class="mt-0 pt-0"
                                    v-model="perPage"
                                    :items="itemsPerPage"
                                    hide-details
                                    :style="{'max-width': '50px'}"
                            ></v-select>
                        </div>
                    </template>
                </v-col>
            </v-row>
        </template>
    </v-data-table>
</template>

<script>
    export default {
        name: "DataTable",
        props: ['value', 'data', 'query', 'headers', 'without', 'disableSort'],
        data(){
            return {
                thisWithout: _.isObject(this.without) ? this.without : {},
                pagination: this.value,
                page: -1,
                pages: 1,
                perPage: 15,
                itemsPerPage: [15, 30, 45],
                total: -1,
                sortBy: 'id',
                sortDesc: null
            }
        },
        computed:{
            isLoad(){
                return typeof this.query === 'undefined' || this.pagination
            },
            isQuery(){
                return typeof this.query === 'undefined' ? true : this.query
            },
        },
        watch: {
            data(value){
                if(!this.value){
                    this.setItemsPagination()
                }
            },
            value(value){
                if(this.pagination != value){
                    this.pagination = value
                }
            },
            pagination:{
                handler(value){
                    if(value){
                        this.setPagination()
                    }
                    if(value != this.value){
                        this.$emit('update:paginate', value);
                    }
                },
                deep: true
            },
            page(value){
                if(this.pagination) this.pagination.page = _.toInteger(value)
            },
            pages(value){
                if(this.pagination) this.pagination.pages = _.toInteger(value)
            },
            perPage(value){
                if(this.pagination) this.pagination.itemsPerPage = _.toInteger(value)
            },
            itemsPerPage(value){
                if(this.pagination) this.pagination.itemsPerPageOption = value
            },
            total(value){
                if(this.pagination) this.pagination.total = _.toInteger(value)
            },
            sortBy(value){
                if(this.pagination) this.pagination.sortBy = value
            },
            sortDesc(value){
                if(this.pagination) this.pagination.sortDesc = value
            }
        },
        methods: {
            getItems(value){
                this.$emit('getItems', value);
            },
            setPagination(){
                this.page = this.pagination.page
                this.pages = this.pagination.pages
                this.perPage = this.pagination.itemsPerPage
                this.itemsPerPage = this.pagination.itemsPerPageOption
                this.total = this.pagination.total
            },
            setItemsPagination(){
                let total = _.isArray(this.data) ? this.data.length : 0
                this.pages = Math.ceil(total / this.perPage)
                this.page = this.page > 0 ? this.page : 1

            }
        },
        created(){
            if(this.value){
                this.setPagination()
                this.getItems()
            }else{
                this.setItemsPagination()
            }
        }
    }
</script>

<style lang="scss">

</style>
