<template>
    <div>
        <v-row class="py-0">
            <v-col :cols="thisTime === false ? 12 : 7">
                <v-menu
                        v-model="date_input_show"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                        <v-text-field
                                class="mt-0"
                                :value="dateCreate"
                                :label="label || $t('date')"
                                clearable
                                readonly
                                v-on="on"
                                @click:clear="date_input = null"
                                :disabled="disabled"
                        ></v-text-field>
                    </template>
                    <v-date-picker :min="min" :max="max" v-model="date_input"  @input="date_input_show = false" first-day-of-week="1"></v-date-picker>
                </v-menu>
            </v-col>
            <v-col v-if="thisTime !== false" cols="5">
                <v-text-field
                        v-if="time !== false"
                        class="mt-0"
                        v-model="time_input"
                        :label="$t('time')"
                        clearable
                        v-mask="'##:##:##'"
                        return-masked-value
                        :disabled="disabled"
                ></v-text-field>
            </v-col>
        </v-row>
        <div v-if="error">
            <span class="red--text" v-text="error"></span>
        </div>
    </div>

</template>

<script>
    import { mask } from 'vue-the-mask';

    export default {
        name: "DateTime",
        props: ['date', 'error', 'disabled', 'min', 'max', 'time', 'label'],
        directives: {mask},
        data(){
            return {
                thisTime: typeof this.time !== 'undefined',
                date_input_show: false,
                date_input: null,
                time_input: null,
                date_label: this.label || this.$t('date')
            }
        },
        computed:{
            dateCreate(){
                return this.formatDate(this.date_input)
            },
        },
        watch: {
            date(value){
                if(value){
                    let [date, time] = value.split(' ');
                    this.time_input = time
                    this.date_input = date
                }

            },
            date_input(value){
                this.changeDateCreate(value)
            },
            time_input(){
                this.changeDateCreate(this.date_input)
            },
        },
        methods: {
            changeDateCreate(value){
                this.$emit('update:date', this.formatDateInput(value))
            },
            formatDate (date) {
                if (!date) return null

                const [year, month, day] = date.split('-');
                if(!year || !month || !day){
                    return null
                }
                return `${day}.${month}.${year}`;
            },
            formatDateInput(date){
                if(date){
                    let time = this.time_input

                    return date + (time ? ' ' + time : '')
                }
                return null
            }
        },
        created() {
            if(this.date){
                this.date_input = this.date
                let [date, time] = this.date.split(' ');
                this.time_input = time
                this.date_input = date
            }
        }
    }
</script>

<style scoped>

</style>
