<template>
    <v-dialog v-model="dialog" max-width="450" persistent scrollable>
        <v-card>
            <v-card-title class="title">
                <span v-if="text">{{text}}</span>
                <span v-else>{{ $t('delete') }}?</span>
            </v-card-title>
            <v-card-text>
                <v-text-field
                    autocomplete="new-password"
                    v-model="password"
                    type="password"
                    :label="$t('models.label.passwordForDelete')"
                    :error-messages="errors['hardDeletePassword']"
                ></v-text-field>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="success" @click="dialog = false">{{ $t('no') }}</v-btn>
                <v-btn color="error" @click="yes()">{{ $t('yes') }}</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "DeleteHardConfirm",
        props: ['value', 'text','errors'],
        data(){
            return {
                dialog: this.value,
                password: ''
            }
        },
        watch: {
            dialog(value){
                this.$emit('input', value);
            },
            value(value){
                if(value){
                    this.password = ''
                }
                this.dialog = value;
            },
        },
        methods: {
            yes(){
                this.$emit('deleteConfirm', this.password);
                this.password = ''
            }
        }
    }
</script>

<style scoped>

</style>
