<template>
    <div class="file-item" @click="$emit('edit', model)">
        <v-hover v-slot:default="{ hover }">
            <v-card :hover="hoverCard" :class="{ 'on-hover': hover, 'on-check': isCheck }" @click="click">
                <v-img :src="model.path_thumb_p">
                    <div v-show="hover && model.id">
                        <slot></slot>
                    </div>
                </v-img>
                <template v-if="model.uploadPercentage">
                    <v-progress-linear :value="model.uploadPercentage"></v-progress-linear>
                </template>
            </v-card>
        </v-hover>
    </div>
</template>

<script>
    export default {
        name: "ItemImage",
        props: ['value', 'hoverCard', 'isCheck'],
        data(){
            return {
                model: this.value
            }
        },
        watch:{
            value(value){
                this.model = value
            }
        },
        methods: {
            click(){
                this.$emit('check', this.model)
            }
        }
    }
</script>

<style scoped>
    .file-item{
        position: relative;
        min-height: 100px;
        display: flex;
        align-items: center;
        background: rgba(204, 204, 204, 0.25);
    }
    .on-hover{
        box-shadow: 1px 1px 3px 1px rgba(35, 35, 35, 0.3) !important;
    }
    .on-check{
        box-shadow: 1px 1px 3px 1px rgba(35, 35, 35, 0.5) !important;
    }
</style>
