<template>
    <v-navigation-drawer
            app
            v-model="isDrawer"
            :expand="false"
            fixed
            class="main-menu"
    >
        <template v-for="(group, index) in links">
            <template v-if="group.items">
                <v-list-item @click="groupActive(group)">
                    <v-list-item-action class="main-menu-icon">
                        <v-icon small>far fa-{{group.icon}}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title v-text="$t(group.title)"></v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-action>
                        <v-btn icon>
                            <v-icon small class="main-menu-submenu-toggle" :class="group.active ? 'is-active' : ''">far fa-chevron-right</v-icon>
                        </v-btn>
                    </v-list-item-action>
                </v-list-item>
                <v-expand-transition>
                <v-list v-show="group.active">

                    <v-list-item
                        v-if="!(link.dev && $store.getters.env === 'production')"
                        v-for="link in group.items"
                        :key="link.title"
                        :to="link.url"
                    >
                        <v-list-item-content>
                            <v-list-item-title v-text="link.title"></v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-action v-if="link.indicator && indicators && indicators[link.indicator]">
                            <v-badge label="" left>
                                <template v-slot:badge>
                                    <span v-text="indicators[link.indicator]"></span>
                                </template>
                            </v-badge>
                        </v-list-item-action>
                    </v-list-item>
                </v-list>
                </v-expand-transition>
            </template>
            <template v-else>
                <v-list-item
                        v-if="!(group.dev && $store.getters.env === 'production')"
                        :key="group.title"
                        :to="group.url"
                >
                    <v-list-item-action class="main-menu-icon">
                        <v-icon
                            small
                        >far fa-{{group.icon}}</v-icon>
                    </v-list-item-action>

                    <v-list-item-content>
                        <v-list-item-title v-text="$t(group.title)"></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </template>
        </template>
        <v-divider></v-divider>
        <slot></slot>
    </v-navigation-drawer>
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        name: "MainMenu",
        props: ['value', 'drawer'],
        data() {
            return {
                links: this.value,
                isDrawer: this.drawer
            }
        },
        computed: mapState(['indicators']),
        watch: {
            drawer(value){
                this.isDrawer = value;
            },
            isDrawer(value){
                this.$emit('update:drawer', value)
            },
            value(value){
                this.links = value
            },
        },
        methods: {
            groupActive(group){
                group.active = !group.active
            }
        },
        created(){

        },

    }
</script>

<style lang="scss">
    .main-menu-submenu-toggle{
        transition: transform .2s ease-in-out;
        &.is-active{
            transform: rotate(-90deg);
        }
    }
    .main-menu{
        .v-navigation-drawer__content{
            &::-webkit-scrollbar {
                width: 0;
            }
        }
        .v-list-item__action{
            margin: 0;
            &.main-menu-icon{
                margin-right: 16px !important;
            }
        }
        .v-list{
            .v-list-item__content{
                padding-left: 48px;
            }
        }
    }

</style>
