<template>
    <v-row align="center" align-content="center">
        <v-col cols="auto">
            <span class="title">{{title}}</span>
            <slot name="desc"></slot>
        </v-col>
        <v-col></v-col>
        <slot></slot>
    </v-row>
</template>

<script>
    export default {
        name: "TitleHead",
        computed: {
            title(){
                let routeItem = this.$store.getters.routeItem

                let routeItemName = null
                if(_.isObject(routeItem)){
                    routeItemName = routeItem.title || routeItem.name || routeItem.id
                }
                let route = this.$route.name
                return this.$t('routes.' + route, [routeItemName])
            }
        }
    }
</script>

<style scoped>

</style>
