<template>
    <div
        @dragenter="dragenter"
        @dragleave="dragleave"
        @dragover="dragover"
        ref="uploader"
        @drop.prevent="drop"
    >
        <v-btn color="primary" @click="getInputUpload">{{ $t('upload') }}</v-btn>
        <input ref="inputUpload" type="file" multiple style="display:none" @change="inputUpload">
        <v-overlay
                absolute
                :value="drageo"
                @drop.prevent="drop"
        >
            <span class="display-2" color="white">{{ $t('upload') }}</span>
        </v-overlay>
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "UploadFile",
        props: ['value'],
        data(){
          return {
              drageo: 0,
              dataItems: this.value
          }
        },
        watch:{
            value(value){
                this.dataItems = value
            },
            dataItems(value){
                this.$emit('input', value)
            }
        },
        methods:{
            dragenter(e){
                this.drageo++
            },
            dragleave(e){
                this.drageo--
            },
            dragover(e){
                e.preventDefault()
                e.stopPropagation()
            },
            drop(e){
                e.preventDefault()
                e.stopPropagation()
                this.upload(e.dataTransfer.files)
                this.drageo = 0
            },
            upload(files){
                let items = _.map(files, (item) => {
                    let dataItem = {
                        file: item,
                        name: item.name,
                        mime_type: item.type,
                        uid: _.random(1, 10000),
                        uploadPercentage: 0
                    }
                    return dataItem
                })
                this.dataItems = _.concat(items, this.dataItems)

                _.map(items, (item) => {
                    let formData = new FormData();
                    formData.append('file', item.file);
                    axios.post('/admin/images', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                        onUploadProgress: ( progressEvent ) => {
                            item.uploadPercentage = Math.round(( progressEvent.loaded * 100 ) / progressEvent.total);
                        }
                    }).then((response) => {
                        this.dataItems = _.map(this.dataItems, (o) => {
                            if(o.uid === item.uid){
                                return response.data
                            }
                            return o
                        })
                    })
                })
            },
            getInputUpload(){
                this.$refs.inputUpload.click()
            },
            inputUpload(e){
                this.upload(e.target.files)
            }
        },
        mounted(){
        }
    }
</script>

<style scoped>

</style>
