@for $i from 1 to 11 {
    .f-size-#{$i} {
        font-size: #{$i * 16}px !important;
    }
}
html::-webkit-scrollbar {
    width: 0;
}
img{
    max-width: 100%;
}
.v-list{
    padding: 0;
    .v-list-item__content{
        padding: $spacer 0;
    }
}
.v-card__text, .v-card__title{
    padding: $spacer;
}
.v-application a.link--text{
    text-decoration: none;
    color: inherit;
}
.radius{
  border-radius: 9999px;
}
.avatar-s{
    width: 50px;
    height: 50px;
    @extend .radius;
}
.flag{
    position: relative;
    display: inline-block;
    &.lang-error{
        border-bottom:  2px solid map-get($red, 'base') !important;
    }
    &.lang-has{
        border-top:  2px solid map-get($blue, 'base') !important;
    }
    svg{
        width: 100%;
        max-width: 30px;
        display: block;
    }
}
.pysm{
    @extend .px-0;
    @extend .px-sm-1;
}
