<template>
    <v-dialog v-model="showDialog" width="800">
        <v-card>
            <v-card-text>
                <images v-model="selectItem"></images>
            </v-card-text>
            <v-card-text  v-if="selectItem">
                <v-simple-table>
                    <template v-slot:default>
                        <tbody>
                            <template v-if="selectFile" v-for="item in selectFile">
                                <tr v-if="item">
                                    <td>{{ item.width ? item.width + 'px': '' }}</td>
                                    <td>{{ item.height ? item.height + 'px': '' }}</td>
                                    <td>{{ item.size + 'Kb' }}</td>
                                    <td class="text-right"><v-btn color="success" small @click="setFile(item)">{{ $t('select') }}</v-btn></td>
                                </tr>
                            </template>
                        </tbody>
                    </template>
                </v-simple-table>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import {pagination} from './../../../mixins/crud';
    import Images from '../../../pages/Images';

    export default {
        name: "TinymceMediaDialog",
        props: ['show', 'hover', 'editor'],
        mixins: [pagination],
        components: {Images},
        data(){
            return {
                route: '/admin/images',
                showDialog: this.show,
                selectItem: null
            }
        },
        computed:{
           selectFile(){
               if(this.selectItem){
                   if(this.selectItem.sizes){
                       return _.concat([this.selectItem], _.filter(_.toArray(this.selectItem.sizes), (o) => {
                           return o.hash !== this.selectItem.hash
                       }))
                   }else{
                       return [this.selectItem]
                   }
               }
               return null
           }
        },
        watch: {
            show(value){
                this.showDialog = value
            },
            showDialog(value){
                this.$emit('update:show', value)
            },
            dataItems(value, oldValue){
                if(oldValue.length === 0 && value.length > 0){
                    this.pagination.total = value.length
                }
            },
        },
        methods:{
            checkItem(item){
                if(item.id){
                    this.selectItem = item
                }

            },
            setFile(file){
                let insert = ''
                insert ='<img src="' + file.path + '"/>';
                this.editor.insertContent(insert);
                this.selectItem = null;
                this.showDialog = false
            }
        },
    }
</script>

<style scoped>

</style>
