<template>
    <div class="application notifications">
        <template v-for="(item, index) in queue">
            <v-snackbar
                class="mt-2"
                v-model="item.show"
                :color="item.color"
                :bottom="item.y === 'bottom'"
                :left="item.x === 'left'"
                :multi-line="item.mode === 'multi-line'"
                :right="item.x === 'right'"
                :timeout="item.timeout"
                :top="item.y === 'top'"
                :vertical="item.mode === 'vertical'"
            >
                {{ item.message }}
                <template v-slot:action="{ attrs }">
                    <v-icon dark @click="close(item)">
                        far fa-times
                    </v-icon>
                </template>
            </v-snackbar>
        </template>
    </div>
</template>

<script>

    export default {
        name: 'Notify',
        data() {
            return {
                queue: [],
                timeOuts: {}
            }
        },
        watch: {
            queue() {
                if (this.queue.length === 0) {
                    return;
                }
                let item = _.last(this.queue);

                this.timeOuts[item.index] = setTimeout(() => {
                    let indexQueue = this.findIndex(item);
                    if(_.has(this.queue[indexQueue], 'show')){
                        this.queue[indexQueue].show = false;
                    }
                    setTimeout(() => {
                        this.queue = _.filter(this.queue, (o) => {
                            return o.index != item.index
                        })
                    }, item.timeout)
                }, item.duration)
            }
        },
        methods: {
            addQueue(options) {
                let timeout = options.timeout ? options.timeout : 5000;
                let duration = options.duration ? options.duration : 5000;

                let item = {
                    message: options.message || '',
                    color: options.color || 'info',
                    show: false,
                    timeout: timeout,
                    duration: duration,
                    x: options.x || null,
                    y: options.y || 'top',
                    index: `${Date.now()}-${_.random(9999999)}`
                };

                this.queue.push(item);
                let indexQueue = this.findIndex(item);
                this.queue[indexQueue].show = true;
            },
            findIndex(item) {
                return _.findIndex(this.queue, (o) => {
                    return o.index == item.index
                });
            },
            close(item) {
                clearTimeout(this.timeOuts[item.index]);
                this.queue = _.filter(this.queue, (o) => {
                    return o.index !== item.index;
                })
            }
        },
        created() {
            //Vue.notify = Vue.prototype.$notify = this.addQueue;
            this.$bus.$on('notify', (options) => {
                this.addQueue(options)
            })
        }
    }
</script>
